# Time-stamp: <2017-01-03 00:41:30 hamada>

*~ .*~
*.pb
*.jou
*.rpx
*.dcp
*.vdi
.*.rst
.Xil

# *.rpt
top_control_sets_placed.rpt
top_drc_*.rpt
top_methodology_drc_routed.rpt
top_clock_utilization_routed.rpt
top_io_placed.rpt
top_route_status.rpt
