/*~
/.*~
/Makefile.rules
/a.cl.0.bc
/a.cl.1.bc
/a.cl.1.ll
/aesl_gen-tmp.bc
/aesl_gen-tmpA.cpp
/apcc.log
#/csim.exe*
/csim.mk
#/gpu.c
#/gpu.cl
/gpu.rtl_wrap.cfg.tcl
/obj/
/run_c.tcl
/run_sim.tcl
/sim.sh*
/tb.bc
/tb_stub.c
/tbl.bc
/tbx.bc
