#Time-stamp: <2017-01-04 17:16:48 hamada>

/work
/xilinx/xilinx.cache
/xilinx/xilinx.hw
/xilinx/xilinx.ip_user_files
/xilinx/xilinx.sim
/xilinx/xilinx.runs/.jobs

.jobs*
vivado*
.Vivado*
*.rst

.Xil
runme.*
*.dcp
*.vds
*.pb
htr.txt
*.js


# --- synthesis ---

#/xilinx/xilinx.runs/synth_1/Makefile
#/xilinx/xilinx.runs/synth_1/top.tcl
#/xilinx/xilinx.runs/synth_1/top_utilization_synth.rpt

/xilinx/xilinx.runs/synth_1/.Xil
/xilinx/xilinx.runs/synth_1/ISEWrap.js
/xilinx/xilinx.runs/synth_1/ISEWrap.sh
/xilinx/xilinx.runs/synth_1/gen_run.xml
/xilinx/xilinx.runs/synth_1/htr.txt
/xilinx/xilinx.runs/synth_1/project.wdf
/xilinx/xilinx.runs/synth_1/rundef.js
/xilinx/xilinx.runs/synth_1/runme.bat
/xilinx/xilinx.runs/synth_1/runme.sh
/xilinx/xilinx.runs/synth_1/top.dcp
/xilinx/xilinx.runs/synth_1/top*vds
/xilinx/xilinx.runs/synth_1/vivado*jou
/xilinx/xilinx.runs/synth_1/vivado.pb

# --- place and route ---

#/xilinx/xilinx.runs/impl_1/Makefile
/xilinx/xilinx.runs/impl_1/ISEWrap.js
/xilinx/xilinx.runs/impl_1/ISEWrap.sh
/xilinx/xilinx.runs/impl_1/gen_run.xml
/xilinx/xilinx.runs/impl_1/htr.txt
/xilinx/xilinx.runs/impl_1/project.wdf
/xilinx/xilinx.runs/impl_1/rundef.js
/xilinx/xilinx.runs/impl_1/runme.bat
/xilinx/xilinx.runs/impl_1/runme.log
/xilinx/xilinx.runs/impl_1/runme.sh
/xilinx/xilinx.runs/impl_1/top.tcl
/xilinx/xilinx.runs/impl_1/top*vdi
#/xilinx/xilinx.runs/impl_1/top_power_routed.rpt
#/xilinx/xilinx.runs/impl_1/top_timing_summary_routed.rpt
/xilinx/xilinx.runs/impl_1/top_utilization_placed.rpt
/xilinx/xilinx.runs/impl_1/vivado.jou
/xilinx/xilinx.runs/impl_1/vivado.pb
/xilinx/xilinx.runs/impl_1/vivado*jou
/xilinx/xilinx.runs/impl_1/write_bitstream.pb


