#Time-stamp: <2017-01-05 06:54:58 hamada>

/*~
/.*~
/.jobs

# -------------------------------------------
# synth_1

#/synth_1/gpu.tcl
#/synth_1/gpu_utilization_synth.rpt

/synth_1/.Vivado_Synthesis.queue.rst
/synth_1/.Xil/
/synth_1/.vivado.begin.rst
/synth_1/.vivado.end.rst
/synth_1/ISEWrap.js*
/synth_1/ISEWrap.sh*
/synth_1/dont_touch.xdc
/synth_1/gen_run.xml
/synth_1/gpu.dcp
/synth_1/gpu.vds
/synth_1/gpu_utilization_synth.pb
/synth_1/htr.txt
/synth_1/rundef.js
/synth_1/runme.bat
/synth_1/runme.log
/synth_1/runme.sh*
/synth_1/vivado.jou
/synth_1/vivado.pb
/synth_1/project.wdf

# -------------------------------------------
# impl_1

#/impl_1/gpu.tcl
#/impl_1/gpu_timing_summary_routed.rpt

/impl_1/.Vivado_Implementation.queue.rst
/impl_1/.Xil/
/impl_1/.gitignore
/impl_1/.init_design.begin.rst
/impl_1/.init_design.end.rst
/impl_1/.opt_design.begin.rst
/impl_1/.opt_design.end.rst
/impl_1/.place_design.begin.rst
/impl_1/.place_design.end.rst
/impl_1/.route_design.begin.rst
/impl_1/.route_design.end.rst
/impl_1/.vivado.begin.rst
/impl_1/.vivado.end.rst
/impl_1/ISEWrap.js*
/impl_1/ISEWrap.sh*
/impl_1/gen_run.xml
/impl_1/gpu.vdi
/impl_1/gpu_clock_utilization_routed.rpt
/impl_1/gpu_control_sets_placed.rpt
/impl_1/gpu_drc_opted.rpt
/impl_1/gpu_drc_routed.pb
/impl_1/gpu_drc_routed.rpt
/impl_1/gpu_drc_routed.rpx
/impl_1/gpu_io_placed.rpt
/impl_1/gpu_methodology_drc_routed.rpt
/impl_1/gpu_methodology_drc_routed.rpx
/impl_1/gpu_opt.dcp
/impl_1/gpu_placed.dcp
/impl_1/gpu_power_routed.rpt
/impl_1/gpu_power_routed.rpx
/impl_1/gpu_power_summary_routed.pb
/impl_1/gpu_route_status.pb
/impl_1/gpu_route_status.rpt
/impl_1/gpu_routed.dcp
/impl_1/gpu_timing_summary_routed.rpx
/impl_1/gpu_utilization_placed.pb
/impl_1/gpu_utilization_placed.rpt
/impl_1/htr.txt
/impl_1/init_design.pb
/impl_1/opt_design.pb
/impl_1/place_design.pb
/impl_1/project.wdf
/impl_1/route_design.pb
/impl_1/rundef.js
/impl_1/runme.bat
/impl_1/runme.log
/impl_1/runme.sh*
/impl_1/vivado.jou
/impl_1/vivado.pb


